# Project 1: Python Coding Exercises


Fiona Dee - May 2021

---

### Challenge 1: Largest Palindrome
A palindromic number reads the same both ways. For example, 1234321 is a palindrome. The largest palindrome made from the product of two two-digit numbers is 9009 = 91 × 99. Find the largest palindrome made from the product of two three-digit numbers. Afterward, write a brief explanation walking through your code's logic in markdown.

In [1]:
## code will output: largest palindrome and the two numbers which multiply to it 
## largest palindrome from the product of two three-digit numbers

# initialise variables
max_pal = 0     # max palindrome
var1 = 0
var2 = 0
product = 0

# this loops from highest 3-digit number down to lowest 3-digit number
for i in range(999, 100, -1):
    
    # this loops within the decreasing outer loop
    # i|999 x j|998 = i|998 x j|999
    # no need for inner loop to ever be higher than outer loop
    for j in range(i, 100, -1):    
        product = i * j
        
        # IF product is greater that previously found max_palidrome
        # AND is a palindrome >> update max variables
        if (product > max_pal) & ( product == int(str(product)[::-1]) ): 
            max_pal = product
            var1 = i
            var2 = j

print(max_pal, 'is the biggest palindrome, it is the product of:', var1, 'and', var2)

906609 is the biggest palindrome, it is the product of: 993 and 913

**Code explanation**
- Test if each product of two 3-digit numbers is a palindrome.
    - Sequence of products is calculated by two nested for loops, counting from highest 3-digit number down to lowest. This is so the highest palindrome will be found earlier and less code will need to be executed.
    - Palindrome is tested by converting the product to a string, reversing the string, converting back to an integer and evaluating if it equals the product. 
- If the product is a palindrome and higher than the last palindrome found, store this product as the new highest palindrome. I also chose to store the two 3-digit numbers which produce the highest palindrome.<br><br>
 *Note:* the highest range of the inner loop of numbers decreases with each iteration of the outer loop, because there is no need to test products which been tested. <br>
E.g. (i=990) x (j=999) = (i=999) x (j=990) was already tested 9 iterations of the outer loop previously. So can skip to testing (i=990) x (j=990) as all higher values of j have already been tested against i=990

---

### Challenge 2: Summation of Primes
The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17. Find the sum of all the primes below 2,000. Afterward, write a brief explanation walking through your code's logic in markdown.

In [2]:
## code will output: sum of all primes below 2,000
## prime is a number that is only divisible by 1 and itself

# initialise variable
sum_of_primes = 2  # initialise with only prime that is even

# range of numbers to check: only odd numbers >2 are potential primes
for number in range(3,2000,2):  
    # initialise variables within loop
    is_prime = True                    # assume True until divisor check
    num_sqrt = int(number**0.5) + 1    # round up
    
    # check divisors from 2 to sqrt of test number, if no remainder then it's not a prime
    for i in range(2,num_sqrt):
        if (number%i == 0):
            is_prime = False
            break

    # if test number is a prime, add it to the list
    if is_prime:
        sum_of_primes += number

print('Sum of all primes below 2000 =',sum_of_primes)

Sum of all primes below 2000 = 277050

**Code explanation**
- Test all odd numbers over 2, up to 2000. (2 is the only non-odd prime number.)
- Test if number is a prime by dividing from 2 up to it's square root. If there is a division without a remainder, then the number is not a prime and go check the next number. 
- Add each number found to be a prime, to current total of primes found. <br><br>
Note: when testing the code, I outputed the primes to a list (rather than sum primes as the code runs) to confirm that primes are being found.

---

### Challenge 3: Multiples of 3 and 5
If we list all of the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6, and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 and 5 below 1,000. Afterward, write a brief explanation walking through your code's logic in markdown.

In [3]:
## code will output: sum of all multiples of 3 or 5 below 1,000

# create a list of numbers which are multiples of 3 or 5
multi_list = [i for i in range(1,1000) if (i%3 == 0) or (i%5 == 0)]

# print the sum of the list of multiples
print('Sum of all multiples of 3 or 5 below 1,000 =', sum(multi_list))

Sum of all multiples of 3 or 5 below 1,000 = 233168

**Code explanation**
- Iterate through all numbers from 1 to 1,000.
- If the number can be divided by 3 or 5 without a remainder then add the number to the list.
- Print the sum of the list of numbers found to be multiples of 3 or 5 <br><br>
 *Note:*  I chose to code this as a list comprehension because the logic is easy to follow. The earlier challenges have more nested code and I wanted to be able to add comments into the code so they would be easier to follow.

---

### Challenge 4: String Compressor
Implement a method to perform basic string compression using the counts of repeated characters. (This is called run-length encoding.) For example, the string "aabcccccaaa" would become a2b1c5a3. If the “compressed” string would not become smaller than the original string, your method should return the original string. You can assume the string has only uppercase and lowercase letters (a–z). Specify whether your solution is case sensitive or case insensitive and what you would need to change to make it the other. Afterward, write a brief explanation walking through your code's logic in markdown.

In [4]:
## code will output: string compression using the counts of repeated characters. 
## Unless the 'compressed' string would be longer than the original, in which case the original string is returned.
## Default is case insensitive.

# case insensitive
def str_comp(test_string, ignore_case=True):
    orig_string = test_string    # to return a multi-case string

    # check which case option chosen: True=ignore case, False=case sensitive
    if ignore_case:
        test_string = test_string.lower()

    # initialise variables
    last_char = test_string[0] # initialise at first char
    char_count = 0  # initialise at 0, first loop will increment
    result =''
   
    # test string
    for char in test_string:
        if char == last_char:
            char_count +=1
        else:
            result += last_char + str(char_count)
        # initialise for different char
            last_char = char
            char_count = 1
    
    # add for last character of string
    if char == last_char:
        result += last_char + str(char_count)
    else:
        result += char + str(1)

    # check what to return
    return orig_string if (len(result) > len(test_string)) else result

**Code explanation**<br>
function: `str_comp(test_string, ignore_case=True)`
- Default for function is case insensitive, returning output in lowercase and counting all consecutive instances of each letter.
    - To attempt string compression as case sensitive, ignore_case=False.
- Handling the first and last characters are important.
    - Initialise the last character variable at the first character of the string. 
    - Initialise the character count at zero, because when the first character-comparison check is done it will correctly count 1 for the first character.
- Loop through all characters in the string, comparing current character to previous character. 
    - If they are the same increment the count.
    - Otherwise add the previous character & it's count to the end of the result string. Then reset the last character variable & count for this character.
- The last character doesn't have a future character to compare against, so it needs to be added to the result string after the Loop.
- Compare original string to result string & return the one that is shorter.<br><br>

---

### Challenge 5: File Handling

##### Part - 1
Read the file named 'Diabetes.csv' available in the project folder.

In [5]:
import pandas as pd

In [6]:
# When initially exploring the file, I found the column headers at the 4th row.
# There were also a number of columns which had data, but weren't part of the dataset.

useful_col = ['diabetes', 'times_pregnant', 'glucose_conc', 
              'diastolic_BP', 'triceps_thk', '2_hr_insulin', 
              'bmi', 'pedigree', 'age']

In [7]:
# read rows from column headers onwards & only columns in the dataset
file_df = pd.read_csv('./datasets-p1/Diabetes.csv', header=4, usecols=useful_col)
file_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   diabetes        767 non-null    int64
 1   times_pregnant  767 non-null    int64
 2   glucose_conc    767 non-null    int64
 3   diastolic_BP    767 non-null    int64
 4   triceps_thk     767 non-null    int64
 5   2_hr_insulin    767 non-null    int64
 6   bmi             767 non-null    float64
 7   pedigree        767 non-null    float64
 8   age             767 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

##### Part - 2
- Check if the value for 'glucose_conc' is less than 100.
- Create a new column named 'prediction'.
- If the glucose_conc level is less than 100 then your prediction for that row will be 0 otherwise 1.

In [8]:
# check how many rows have invalid values for glucose_conc
# assumption: glucose_conc = 0 is not a reading
invalid_glucose_conc = file_df[file_df['glucose_conc']<1]
invalid_glucose_conc.shape

(5, 9)

In [9]:
# remove invalid rows for this dataset
# expect 767 - 5 = 762 rows
file_df = file_df[file_df['glucose_conc']>0]
file_df.shape

(762, 9)

In [10]:
# add column 'prediction': if glucose_conc < 100, then prediction = 0, otherwise 1
file_df['prediction'] = [0 if i < 100 else 1 for i in file_df.glucose_conc]
file_df.prediction.value_counts()

1    570
0    192
Name: prediction, dtype: int64

In [11]:
# check the column has been added to the dataframe
file_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 762 entries, 0 to 766
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   diabetes        762 non-null    int64
 1   times_pregnant  762 non-null    int64
 2   glucose_conc    762 non-null    int64
 3   diastolic_BP    762 non-null    int64
 4   triceps_thk     762 non-null    int64
 5   2_hr_insulin    762 non-null    int64
 6   bmi             762 non-null    float64
 7   pedigree        762 non-null    float64
 8   age             762 non-null    int64
 9   prediction      762 non-null    int64
dtypes: float64(2), int64(8)
memory usage: 65.5 KB

##### Part - 3
Write the content of the 'Diabetes.csv' file along with 'prediction' values into a new file named 'Diabetes-with-predictions.csv'

In [12]:
# Assumption: don't want the new file to have the rows above the column headers from the original file,
# or the columns which weren't part of the dataset.
file_df.to_csv('./datasets-p1/Diabetes-with-predictions.csv', index=False)

---
### *BONUS* Challenge: Diabetes
- From the above file, find the min and max age.
- Create six intervals based on age (e.g. 11 to 20, 21 to 30 etc.) including both min and max age found earlier.
- For each age interval compute the average 'glucose_conc'.
- Write your computed data into a new file named 'average_glucose_by_age.csv'. This file should have two columns 'age_interval' and 'avg_glucose_conc'

In [13]:
# read in the 'Diabetes-with-predictions.csv' file
# it only contains the dataset, so no need to specify header row or columns
challenge_df = pd.read_csv('./datasets-p1/Diabetes-with-predictions.csv')
challenge_df.shape

(762, 10)

In [14]:
# Find the min and max age. Age is an integer.
print('min age', challenge_df.age.min())
print('max age', challenge_df.age.max())

min age 21
max age 81

In [15]:
## create 6 intervals across the range of ages
# Originally I created the age groups by evenly splitting the range (21-81) by 6.
# But I decided the output wasn't as user-friendly as simply using decades, 
# with the last interval as slightly larger to include the max age

age_bins = [20, 29, 39, 49, 59, 69, 81]

age_groups = pd.cut(challenge_df['age'], bins=age_bins)
age_groups.dtype

CategoricalDtype(categories=[(20, 29], (29, 39], (39, 49], (49, 59], (59, 69], (69, 81]],
, ordered=True)

In [16]:
# for each age interval compute the average 'glucose_conc'
ave_gl_by_age = challenge_df.groupby(age_groups)['glucose_conc'].mean()
ave_gl_by_age

age
(20, 29]    114.613232
(29, 39]    126.073171
(39, 49]    125.709402
(49, 59]    140.142857
(59, 69]    138.827586
(69, 81]    132.666667
Name: glucose_conc, dtype: float64

In [17]:
# Rename the intervals to be obvious which interval each age is in. Original age values are integers.
ave_gl_by_age.index = ['20 to 29', '30 to 39',  '40 to 49',  '50 to 59',
                   '60 to 69', '70 to 81']
ave_gl_by_age

20 to 29    114.613232
30 to 39    126.073171
40 to 49    125.709402
50 to 59    140.142857
60 to 69    138.827586
70 to 81    132.666667
Name: glucose_conc, dtype: float64

In [18]:
# convert to dataframe & rename columns to 'age_interval' and 'avg_glucose_conc'
ave_gl_by_age_df = pd.DataFrame({'age_interval':ave_gl_by_age.index, 'avg_glucose_conc':ave_gl_by_age.values})
ave_gl_by_age_df

  age_interval  avg_glucose_conc
0     20 to 29        114.613232
1     30 to 39        126.073171
2     40 to 49        125.709402
3     50 to 59        140.142857
4     60 to 69        138.827586
5     70 to 81        132.666667

In [19]:
# Save ave_gl_by_age_df to new csv file 
ave_gl_by_age_df.to_csv('./datasets-p1/average_glucose_by_age.csv', index=False)